<!-- Modal -->
<div class="modal fade" id="acta-constitucion" tabindex="-1" aria-labelledby="acta-constitucion-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-docs-content">
            <div class="modal-header modal-docs-header">
                <h1 class="modal-title modal-docs-title fs-5" id="acta-constitucion-label">• Acta de constitución •</h1>
                <div>
                    <a class="btn-modal btn-download-doc" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body modal-docs-body">
                <iframe src="https://drive.google.com/file/d/1Xtwy38BR6d0CTDZoYYvizop-JdIIGfuA/preview"
                    class="iframe-docs" width="100%" height="200px">
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="renovacion-esal" tabindex="-1" aria-labelledby="renovacion-esal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-docs-content">
            <div class="modal-header modal-docs-header">
                <h1 class="modal-title modal-docs-title fs-5" id="renovacion-esal-label">• Renovación ESAL •</h1>
                <div>
                    <a class="btn-modal btn-download-doc" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body modal-docs-body">
                <iframe src="https://drive.google.com/file/d/1rgCZNkkVJWxWy9e5iUS3rZGEW1jVYMHH/preview"
                    class="iframe-docs" width="100%" height="200px">
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rut" tabindex="-1" aria-labelledby="rut-label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-docs-content">
            <div class="modal-header modal-docs-header">
                <h1 class="modal-title modal-docs-title fs-5" id="rut-label">• Rut •</h1>
                <div>
                    <a class="btn-modal btn-download-doc" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body modal-docs-body">
                <iframe src="https://drive.google.com/file/d/1p2CAwGxSXsH9kg5GgMav29_QkmAhNQ6V/preview"
                    class="iframe-docs" width="100%" height="200px">
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="camara-de-comercio" tabindex="-1" aria-labelledby="camara-de-comercio-label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-docs-content">
            <div class="modal-header modal-docs-header">
                <h1 class="modal-title modal-docs-title fs-5" id="camara-de-comercio-label">• Cámara de comercio •</h1>
                <div>
                    <a class="btn-modal btn-download-doc" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body modal-docs-body">
                <iframe src="https://drive.google.com/file/d/1DZfYrftzffmNBLpJDQgp7xXgbfQlcDLN/preview"
                    class="iframe-docs" width="100%" height="200px">
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="estatutos" tabindex="-1" aria-labelledby="estatutos-label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-docs-content">
            <div class="modal-header modal-docs-header">
                <h1 class="modal-title modal-docs-title fs-5" id="estatutos-label">• Estatutos •</h1>
                <div>
                    <a class="btn-modal btn-download-doc" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body modal-docs-body">
                <iframe src="https://drive.google.com/file/d/1znErsdiiKNr9ct2qN_d_kYhsSCJdE3rD/preview"
                    class="iframe-docs" width="100%" height="200px">
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="certificacion-dian" tabindex="-1" aria-labelledby="certificacion-dian-label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-docs-content">
            <div class="modal-header modal-docs-header">
                <h1 class="modal-title modal-docs-title fs-5" id="certificacion-dian-label">• Certificación DIAN 2023 •</h1>
                <div>
                    <a class="btn-modal btn-download-doc" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body modal-docs-body">
                <iframe src="https://drive.google.com/file/d/1x525xP9tmu6WXSQi7y0VlJc6kZEIfgca/preview"
                    class="iframe-docs" width="100%" height="200px">
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fundadores-pycon" tabindex="-1" aria-labelledby="fundadores-pycon-label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-docs-content">
            <div class="modal-header modal-docs-header">
                <h1 class="modal-title modal-docs-title fs-5" id="fundadores-pycon-label">• Fundadores Pycon •</h1>
                <div>
                    <a class="btn-modal btn-download-doc" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body modal-docs-body">
                <iframe src="https://drive.google.com/file/d/1jOhE7B7KscOA_eE5jm5pzLxmagy5zvoC/preview"
                    class="iframe-docs" width="100%" height="200px">
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cargos-gerenciales" tabindex="-1" aria-labelledby="cargos-gerenciales-label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-docs-content">
            <div class="modal-header modal-docs-header">
                <h1 class="modal-title modal-docs-title fs-5" id="cargos-gerenciales-label">• Cargos gerenciales •</h1>
                <div>
                    <a class="btn-modal btn-download-doc" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body modal-docs-body">
                <iframe src="https://drive.google.com/file/d/1QJrN5_J3N7ZVhgE0g0ioyv8uIJ51HbOX/preview"
                    class="iframe-docs" width="100%" height="200px">
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="donantes" tabindex="-1" aria-labelledby="donantes-label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-docs-content">
            <div class="modal-header modal-docs-header">
                <h1 class="modal-title modal-docs-title fs-5" id="donantes-label">• Donantes •</h1>
                <div>
                    <a class="btn-modal btn-download-doc" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body modal-docs-body">
                <iframe src="https://drive.google.com/file/d/1VL7ruPPVTteir3-L-QM9lTo2OFEDyNFO/preview"
                    class="iframe-docs" width="100%" height="200px">
                </iframe>
            </div>
        </div>
    </div>
</div>
