{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<!--FIRST-SECTION-->
        
<div class="first-section">

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bd-navbar">

      <div class="container-fluid">
        <!--
        <a class="navbar-brand" href="/index.html">
            <img src="/img/icon.svg" alt="" width="50" height="50" class="d-inline-block align-text-center">
          PYCON 2022</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>-->


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!--
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a href="/Resources/resources.html" class="nav-link active" aria-current="page" href="#">Resources</a>
              </li>
            
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Schedule
                  </a>
                  
                  <ul class="dropdown-menu active" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item active" href="/Keynotes/keynotes.html">Keynotes</a></li>
                  <li><a class="dropdown-item active" href="/Speakers/speakers.html">Speakers</a></li>
                  <li><a class="dropdown-item active" href="/schedule/schedule_saturday.html">Schedule</a></li>
                  </ul>
              </li>
          <li class="nav-item">
              <a href="/Sponsors/sponsors.html" class="nav-link active" aria-current="page" >Sponsors</a>
          </li>
          <li class="nav-item">
              <a href="/scholarships/scholarships-en.html" class="nav-link active" aria-current="page" >Scholarships</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/team/team.html">Team</a>
          </li>
          <li class="nav-item">
              <a  class="nav-link nav-primary" aria-current="page" href="https://www.eventbrite.co/e/pycon-colombia-2022-tickets-313952529467" target="blank">Tickets</a>
          </li>
          </ul>-->
          
          <ul class="navbar-nav" style="margin-right: 50px;">
              <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      v.2023
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pycon-version">
                      <a class="dropdown-item" href="https://2022.pycon.co">v.2022</a>
                      <a class="dropdown-item" href="https://2021.pycon.co">v.2021</a>
                      <a class="dropdown-item" href="https://2020.pycon.co">v.2020</a>
                      <a class="dropdown-item" href="https://2019.pycon.co">v.2019</a>
                      <a class="dropdown-item" href="https://2018.pycon.co">v.2018</a>
                      <a class="dropdown-item" href="https://2017.pycon.co">v.2017</a>
                  </div>
              </li>
          </ul>
        </div>
      </div>
  </nav>

  <div class="balloon-left d-xl-block" data-aos="fade-right">
      <img src="{{ '/static/img/general_resources/left-globe.png'|url }}" alt="Welcome to a new dimension">
  </div>
  <div class="balloon-right d-xl-block" data-aos="fade-left">
      <img src="{{ '/static/img/general_resources/right-globe.png'|url }}" alt="Welcome to a new dimension">
  </div>
  <div class="block-right d-none d-xl-block" data-aos="fade-left">
      <img src="{{ '/static/img/general_resources/right-globe2.png'|url }}" alt="Welcome to a new dimension" style="margin-top:500px;">
  </div>
  
  <div class="container" data-aos="zoom-in">
      <!--principal logo section-->
      <section class="section-container1">
          <div class="row section-container justify-content-center" >
              <div class="principal-logo col-sm-8">
                  <a href="/">
                      <img src="{{ '/static/img/general_resources/logo_main.png'|url }}" alt="Pycon Colombia 2023">
                  </a>
              </div>
          </div>
      </section>

      <!--banner section-->
      <div class="banner-section">
          <section class="section-container2">
              <article>
                  <div class="row justify-content-center">
                      <div class="col-sm-10 col-xs-10">
                          <div class="text-container">
                              <p>
                                  <span>7th edition of the Python Colombian</span>
                                  <span>conference</span>
                                  <img id="arrow" src="{{ '/static/img/general_resources/arrow.png'|url }}">
                              </p>
                          </div>
                      </div>
                  </div>
              </article>
          </section>
      </div>
  </div>
</div>

<!--FIRST-SECTION-END-->

<!--SECOND-SECTION-->
<div class="second-section">

  <!--code of conduct-section -->
  <section class="section-container">
      <div class="container col-sm-8 col-xs-8">
          <div class="row content-container text-cards justify-content-center">
                          
              <div class="tittle-container">
                  <p>
                      • CODE OF CONDUCT •
                  </p>
              </div>

              <div class="col-md-10 col-sm-10 ">
                  <div class="content">
                      <br>
                      <p><strong> PyCon Colombia </strong> is a conference organized by the Python Colombia community created for the dissemination of the Python programming 
                              language in our country and Latin America, with the objective of sharing knowledge and expanding the spaces for interaction and collaboration of its members.
                              We value the participation of each member of the community and we want each participant in the conference to enjoy and gain valuable experience full of 
                              knowledge and innovation. According to this code, all participants including organizers, speakers, volunteers and attendees are expected to show respect and 
                              courtesy among themselves in all aspects of the conference, its organization and the events taking place in the context of the conference. To be more 
                              explicit than is expected of any person participating in the event and the global and local community of Python and Pycon Colombia are required to comply 
                              with the following Code of Conduct. The organizers of this event and any event in the future are subject to enforce following and complying with international
                              and Colombian laws and the spirit of the International Python Society (Python Software Foundation)
                      </p>
                      <br>
                      <h1>Code of Conduct Content</h1>
                      <br>
                      <p>PyCon Colombia is dedicated to providing a conference free of harassment for all members, regardless of gender, sexual orientation, physical abilities, 
                          physical appearance, race or religion. No abuse will be tolerated by any conference participant. All communications should be focused on a professional 
                          audience including people with different backgrounds and experiences. Sexual language is not appropriate for any event organized under our rules, including 
                          talks.
                      </p>
                      <br>
                      <h1>Our goal as a community recommends:</h1>
                      <br>
                      <ul>
                          <li>Be kind to other members.</li>
                          <li>Do not insult or demean the other participants.</li>
                          <li>Behave professionally.</li>
                          <li>Remember that any conduct of harassment, sexism, racism or political division or of any instance, is not appropriate for participation within the conference 
                              or community</li>
                          <li>Not attending the conference under the influence of alcoholic beverages.</li>
                          <li>Participants of our community of any type (Organizers, Speakers, Volunteers and Assistants) who do not comply with any of these rules will be expelled 
                              from the conference without any reimbursement at the discretion of the organizing committee of the conference.</li>
                      </ul>
                      <p>Thank you for being subject to these terms and welcome to PyCon Colombia. This is a friendly event for our entire community.</p>
                      <br>
                      <h1>Contact Information</h1>
                      <br>
                      <p>If you have been harassed, or realize that someone else is being harassed or is violating the International Terms of the PyCon Colombia or have any problems, please contact our organizers:</p>
                      <ul>
                      <li>John Jairo Roa Acuña: john@pycon.co</li>
                      </ul>
                      <p>Our team at the conference will also be available to collaborate and contact local security or assist you to ensure your safety. We value your presence in our events.</p>
                      <p>In case of any violation of the terms of this code of conduct by the organizers please contact the main organizer of the conference, John Roa or as a last resort to the PSF.</p>
                      <br>
                      <br>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
<!--SECOND-SECTION-END-->
{% endblock %}