{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<!--FIRST-SECTION-->
        
<div class="speakers-section">
    <div class="balloon-left  d-none d-xl-block" data-aos="fade-right" style="">
        <img src="{{ '/static/img/general_resources/left-globe.png'|url }}" alt="Welcome to a new dimension">
    </div>
    <div class="balloon-right d-none d-xl-block" data-aos="fade-left">
        <img src="{{ '/static/img/general_resources/right-globe.png'|url }}" alt="Welcome to a new dimension">
    </div>
    <div class="block-right d-none d-xl-block" data-aos="fade-left">
        <img src="{{ '/static/img/general_resources/right-globe2.png'|url }}" alt="Welcome to a new dimension" style="margin-top:500px;">
    </div>
    <div class="container" data-aos="zoom-in">
        <!--principal logo section-->
        <section class="section-container1">
            <div class="row section-container justify-content-center" >
                <div class="principal-logo col-sm-8" style="margin-top:100px">
                    <h1>
                        <img src="{{ '/static/img/general_resources/logo_main.png'|url }}" alt="Pycon Colombia 2023">
                        <span>Bogotá, Colombia</span>
                        <span>June 9, 10 and 11</span>
                    </h1>
                </div>
            </div>
        </section>
    </div>
    <img class="img-fluid" src="{{ '/static/img/general_resources/background-mountains.png'|url }}" alt="..." style="width:100%">
</div>

<!--FIRST-SECTION-END-->

<!--SECOND-SECTION-->
<div class="second-section">

  <!--code of conduct-section -->
  <section class="section-container">
      <div class="container col-sm-8 col-xs-8">
          <div class="row content-container text-cards justify-content-center">
              <div class="tittle-container">
                  <p>
                      • HEALTH & SAFETY POLICY •
                  </p>
              </div>

              <div class="col-md-10 col-sm-10 ">
                  <div class="content">
                      <br>
                      <p>Our attendees’ health and safety remain our top priority as we continue to monitor the state of the pandemic and 
                        look to venue, local, and CDC guidelines to make the best and most informed decisions around onsite safety and requirements. 
                        Python Colombia has worked hard to be a community that is welcoming to all so we will be erring on the side of safety for 
                        all participants.
                      </p>
                      <br>
                      <p>PyCon Colombia will continue to provide social distancing where possible in the venue. The guidelines implemented for PyCon 
                        Colombia 2023 are subject to change based on health and safety recommendations at the time of the event. We are committing, 
                        however, to only make changes in the direction of greater protections.</p>
                      <br>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
<!--SECOND-SECTION-END-->
{% endblock %}