<!-- Modal -->
<div class="modal custom fade" id="fabioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xl-4 col-sm-12 justify-content-center">
              <img class="rounded mx-auto d-block" src="{{ '/static/img/keynotes/1x/flabio-keynote.webp'|url }}">
            </div>
            <div class="col-xl-8 col-sm-12">
              <h1>Fabio Pliger</h1>
              <h2>Co-creator of PyScript</h2>
              <h3>
              Is the co-creator of PyScript and a Principal Software Architect at Anaconda, Inc, where he has been working for 8 years.
              Fabio is a fellow member of the PSF and the EuroPython Society, one of the Founders of the Python Italia association and former
              Chairman of the EuroPython Society, where he served from 2012 to 2016. As part of his work at both associations, he helped organize and
              co-chair several Pycon and Europython over the years.
              <br>
              <br>
              He currently lives in beautiful Austin, Texas with his family, after having spent most of his life in Italy and Brazil.
              </h3>
            </div>
            <div class="row justify-content-center" style="margin-top:30px;">
              <div class="col-1" style="margin:20px">
                <a href="https://www.linkedin.com/in/fabiopliger" target="_blank">
                  <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
                </a>
              </div>
              <div class="col-1" style="margin:20px">
                <a href="https://github.com/fpliger" target="_blank">
                  <i class="fa-brands fa-github fa-beat fa-2xl" style="color:#E776CF"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
            <div class="col-10 ratio ratio-16x9">
                <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/KZHIfHiUm7I" loading="lazy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen; style="padding:10px;"></iframe>
            </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="catherinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xl-4 col-sm-12 justify-content-center">
              <img class="rounded mx-auto d-block" src="{{ '/static/img/keynotes/1x/catherine-keynote.webp'|url }}">
            </div>
            <div class="col-xl-8 col-sm-12">
              <h1>Catherin Devlin</h1>
              <h2>Data architect for Corning</h2>
              <h3>
                A freak accident in 1999 transformed Catherine Devlin from a chemical engineering graduate student into a database administrator.
                She got her start with Python at PyCon US 2004, and has been a Python community addict ever since, serving as PyOhio's founding chair in 2008.
                She works as a data architect for Corning.  She lives in the woods near Dayton, OH, USA, with her wife, two cats, and two horses;
                she usually has sticks in her hair.
              </h3>
            </div>
            <div class="row justify-content-center" style="margin-top:30px;">
              <div class="col-1" style="margin:20px">
                <a href="https://www.linkedin.com/in/catherinedevlin" target="_blank">
                  <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
                </a>
              </div>
              <div class="col-1" style="margin:20px">
                <a href="https://github.com/catherinedevlin" target="_blank">
                  <i class="fa-brands fa-github fa-beat fa-2xl" style="color:#E776CF"></i>
                </a>
              </div>
              <div class="col-1" style="margin:20px">
                <a href="https://github.com/catherinedevlin" target="_blank">
                    <i class="fa-brands fa-twitter fa-beat fa-2xl" style="color:#E776CF;"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
            <div class="col-10 ratio ratio-16x9">
                <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/Df3MvWl0duA" loading="lazy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen; style="padding:10px;"></iframe>
            </div>
        </div>
      </div>
    </div>
</div>
<!-- Modal -->
<div class="modal custom fade" id="lukaszModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xl-4 col-sm-12 justify-content-center">
              <img class="rounded mx-auto d-block" src="{{ '/static/img/keynotes/1x/lukassz-langa-keynote.webp'|url }}">
            </div>
            <div class="col-xl-8 col-sm-12">
              <h1>Lukasz Langa</h1>
              <h2>CPython Developer in Residence</h2>
              <h3>
                CPython Developer in Residence, Python 3.8 and 3.9 release manager. Gradual typing enthusiast, asynchronous programming proponent,
                and creator of the auto-formatter Black. ambv on Github.
                <br>
                <br>
                Likes immersive single-player role-playing games, Scotch whisky, and road cycling. In his free time, he produces electronic music,
                which includes software and hardware of his own making.
              </h3>
            </div>
            <div class="row justify-content-center" style="margin-top:30px;">
              <div class="col-1" style="margin:20px">
                <a href="https://www.linkedin.com/in/llanga/" target="_blank">
                  <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
                </a>
              </div>
              <div class="col-1" style="margin:20px">
                <a href="https://github.com/ambv" target="_blank">
                  <i class="fa-brands fa-github fa-beat fa-2xl" style="color:#E776CF"></i>
                </a>
              </div>
              <div class="col-1" style="margin:20px">
                <a href="https://twitter.com/llanga" target="_blank">
                    <i class="fa-brands fa-twitter fa-beat fa-2xl" style="color:#E776CF;"></i>
                </a>
              </div>
              <div class="col-1" style="margin:20px">
                <a href="https://lukasz.langa.pl/" target="_blank">
                    <i class="fa-solid fa-globe fa-beat fa-2xl" style="color:#E776CF;"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
            <div class="col-10 ratio ratio-16x9">
                <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/MoKsBBnDHrk" loading="lazy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen; style="padding:10px;"></iframe>
            </div>
        </div>
      </div>
    </div>
</div>
<!-- Modal -->
<div class="modal custom fade" id="gabrielaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/keynotes/1x/gabriela-keynote.webp'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Gabriela Coleman (Biella) </h1>
            <h2>Professor at Harvard University</h2>
            <h3>
              Gabriella (Biella) Coleman is a full professor in the Department of Anthropology at Harvard University and is a
              faculty associate at the Berkman Center for Internet and Society. Her scholarship and teaching address questions
              of science and technology, focusing on the politics, cultures, and ethics of computer hacking. She is the author
              of two books on computer hackers and the founder and editorof Hack_Curio, a video portal into the cultures of hacking.
              <br>
              <br>
              In 2022,she hosted the BBC4 radio and podcast series, The Hackers. You can learn more about her work here:
              <a href="https://gabriellacoleman.org/" target="_blank">https://gabriellacoleman.org/</a>
            </h3>
          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/gabriella-coleman-837a5110/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://twitter.com/BiellaColeman" target="_blank">
                  <i class="fa-brands fa-twitter fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://gabriellacoleman.org/" target="_blank">
                  <i class="fa-solid fa-globe fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
          <div class="col-10 ratio ratio-16x9">
              <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/PTWxrBKEqrE" loading="lazy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen; style="padding:10px;"></iframe>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="debModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/keynotes/1x/deb-keynote.webp'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Deb Nicholson</h1>
            <h2>Executive Director at the Python Software Foundation</h2>
            <h3>
              Deb Nicholson is the Executive Director at the Python Software Foundation, the non-profit steward of the Python
              programming language. She is a free software policy expert and a passionate community advocate. After years of
              local organizing on free speech, marriage equality, government transparency and access to the political process,
              she joined the free software movement in 2006. She has previously served the open source ecosystem through her
              work at the Open Source Initiative, Software Freedom Conservancy, and the Open Invention Network. She’s won the
              O’Reilly Open Source Award and the Award for the Advancement of Free Software for her efforts to broaden the free
              and open source software movement. She is also a founding organizer of the Seattle GNU/Linux Conference, an annual
              event dedicated to surfacing new voices and welcoming new people to the free software community. She lives with her
              partner and her lucky black cat in Cambridge, Massachusetts, USA.
              <br>
            </h3>
          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/denicholson" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://twitter.com/baconandcoconut" target="_blank">
                  <i class="fa-brands fa-twitter fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
          <div class="col-10 ratio ratio-16x9">
              <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/w8MayUKMre4" loading="lazy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen; style="padding:10px;"></iframe>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="travisModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/keynotes/1x/travis-keynote.webp'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Travis Oliphant</h1>
            <h2>Co-founder in  Anaconda Inc, NumFOCUS y PyData. NumPy, SciPy, and Numba Creator.</h2>
            <h3>
              American data scientist and businessman. Co-founder of NumFOCUS,  nonprofit charity in the United States.
                He is also a founder of technology startup Anaconda. Creator of NumPy, SciPy, and Numba.
              <br>
            </h3>
          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/teoliphant/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://twitter.com/teoliphant?lang=es" target="_blank">
                  <i class="fa-brands fa-twitter fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://github.com/teoliphant" target="_blank">
                <i class="fa-brands fa-github fa-beat fa-2xl" style="color:#E776CF"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
          <div class="col-10 ratio ratio-16x9">
              <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/EZx9EaMlm5I" loading="lazy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen; style="padding:10px;"></iframe>
          </div>
      </div>
    </div>
  </div>
</div>
