{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<div class="first-section">

  <div class="balloon-left  d-none d-xl-block" data-aos="fade-right">
    <img src="{{ '/static/img/general_resources/left-globe.png'|url }}" alt="Welcome to a new dimension">
  </div>
  <div class="balloon-right d-none d-xl-block" data-aos="fade-left">
    <img src="{{ '/static/img/general_resources/right-globe.png'|url }}" alt="Welcome to a new dimension">
  </div>
  <div class="block-right d-none d-xl-block" data-aos="fade-left">
    <img src="{{ '/static/img/general_resources/right-globe2.png'|url }}" alt="Welcome to a new dimension"
      style="margin-top:500px;">
  </div>
  <div class="container" data-aos="zoom-in">
    <!--principal logo section-->
    <section class="section-container1">
      <div class="row section-container justify-content-center">
        <div class="principal-logo col-sm-8">
          <h1>
            <img src="{{ '/static/img/general_resources/logo_main.png'|url }}" alt="Pycon Colombia 2023">
            <span>Bogotá, Colombia</span>
            <span>June 9, 10 and 11</span>
          </h1>
        </div>
      </div>
    </section>


    <!--banner section-->
    <div class="banner-section">
      <section class="section-container2">
        <article class="">
          <div class="row justify-content-center">
            <div class="col-sm-8">
              <div class="title-intro">
                <a href="https://docs.google.com/forms/d/19-ujqnFIfEuCjh8SdB4uGjtK8f2Nc9Qmg09Y3DJf2E8/edit"
                  target="blank">
                  <img src="{{ '/static/img/general_resources/banner-section-callporposals.png'|url }}"
                    class="img-fluid" alt="Welcome to a new dimension">
                </a>
              </div>
            </div>
          </div>
        </article>

        <article>
          <div class="row justify-content-center">
            <div class="col-sm-10 col-xs-10">
              <div class="text-container">
                <p>
                  <span>7th edition of the Python Colombian</span>
                  <span>conference</span>
                  <img id="arrow" src="{{ '/static/img/general_resources/arrow.png'|url }}">
                </p>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>

<!--FIRST-SECTION-END-->

<!--SECOND-SECTION-->
<div class="second-section">

  <!--code of conduct-section -->
  <section class="section-container">
    <div class="container col-sm-8 col-xs-8">
      <div class="row content-container text-cards justify-content-center">

        <div class="tittle-container">
          <p>
            • KEYNOTES SPEAKERS •
          </p>
        </div>

        <div class="row keynote-container col-sm-10 col-xs-10" style="margin-top:50px;">

          <div class="keynote-img col-md-4 d-flex justify-content-center align-items-center">
            <a href="">
              <img src="{{ '/static/img/keynotes/1x/flabio-keynote.png'|url }}">
            </a>
          </div>

          <div class="keynote-description col-md-8 col-sm-12 d-flex justify-content-center">
            <div class="text-description">
              <h2>
                <a href="" style="color:white">Fabio Pliger</a>
              </h2>
              <h2>
                Co-creator of PyScript
              </h2>
              <br>
              <p>
                Principal Software Architect at Anaconda, Inc, where he has been working for 8 years. Fabio is a
                fellow member of the PSF and the EuroPython Society, one of the Founders of the Python Italia
                association and former Chairman of the EuroPython Society.
              </p>
            </div>
          </div>
        </div>



        <div class="row keynote-container col-sm-10 col-xs-10" style="margin-top:50px;">
          <div class="keynote-img col-md-4 d-flex justify-content-center align-items-center order-md-last">
            <a href="">
              <img src="{{ '/static/img/keynotes/1x/catherine-keynote.png'|url }}">
            </a>
          </div>
          <div class="keynote-description col-md-8 col-sm-12 d-flex justify-content-center">
            <div class="text-description">
              <h2>
                <a href="" style="color:white">Catherin Devlin</a>
              </h2>
              <h2>
                Data architect for Corning
              </h2>
              <br>
              <p>
                She got her start with Python at PyCon US 2004, and has been a Python community 
                addict ever since, serving as PyOhio's founding chair in 2008.  She works as a data architect for Corning.  
                She lives in the woods near Dayton, OH, USA, with her wife, two cats, and two horses; she usually has sticks 
                in her hair.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-container">
    <div class="container col-sm-8 col-xs-8">
      <div class="text-container">
        <p>
          <span>More information coming soon</span>
        </p>
      </div>
    </div>
  </section>
</div>
<!--SECOND-SECTION-END-->

{% endblock %}