{% extends "layout.html" %}
{%- block body -%}


<!--FIRST-SECTION-->
<div class="first-short-section">

    <div class="balloon-left  d-none d-xl-block" data-aos="fade-right">
        <img src="{{ '/static/img/general_resources/left-globe.png'|url }}" alt="Welcome to a new dimension">
    </div>
    <div class="balloon-right d-none d-xl-block" data-aos="fade-left">
        <img src="{{ '/static/img/general_resources/right-globe.png'|url }}" alt="Welcome to a new dimension">
    </div>
    <div class="block-right d-none d-xl-block" data-aos="fade-left">
        <img src="{{ '/static/img/general_resources/right-globe2.png'|url }}" alt="Welcome to a new dimension"
            style="margin-top:500px;">
    </div>

    <div class="container" data-aos="zoom-in">
        <!--principal logo section-->
        <section class="section-container1">
            <div class="row section-container justify-content-center">
                <div class="principal-logo col-sm-8" style="margin-top:100px">
                    <h1>
                        <img src="{{ '/static/img/general_resources/logo_main.png'|url }}" alt="Pycon Colombia 2023">
                        <span>Bogotá, Colombia</span>
                        <span>June 9, 10 and 11</span>
                    </h1>
                </div>
            </div>
        </section>


        <!--banner section-->
        <div class="banner-section">
            <section class="section-container2">
                <article>
                    <div class="row justify-content-center">
                        <div class="col-sm-10 col-xs-10">
                            <div class="text-container" style="margin-top:100px">
                                <p>
                                    <span>7th edition of the Python Colombian</span>
                                    <span>conference</span>
                                    <img id="arrow" src="{{ '/static/img/general_resources/arrow.png'|url }}">
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>

<!--FIRST-SECTION-END-->

<!--SECOND-SECTION-->
<div class="second-section">

    <!--code of conduct-section -->
    <section class="section-container">
        <div class="container col-sm-8 col-xs-8">
            <div class="row content-container text-cards justify-content-center">

                <div class="tittle-container">
                    <p>
                        • RESOURCES •
                    </p>
                </div>

                <div class="col-md-10 col-sm-10 ">
                    <div class="content">

                        <div>
                            <br>
                            <h1>
                                <a href="https://drive.google.com/file/d/1cbnqLMH3w-J4xdLOMgccfDJuRpeno-ug/view?usp=sharing"
                                    style="color:white"></a>Profile
                            </h1>
                        </div>

                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://drive.google.com/file/d/1cbnqLMH3w-J4xdLOMgccfDJuRpeno-ug/view?usp=sharing"
                                target="blank_">
                                <img src="{{ '/static/img/resources/Facebook_Perfil.png'|url }}"
                                    class="img-fluid img-thumbnail" alt="Responsive image"
                                    style="width: 200px;margin-bottom:10px;">
                            </a>
                        </div>
                    </div>

                    <div>
                        <br>
                        <h1>
                            <a href="https://drive.google.com/file/d/1CZIHj8oE4Oel8X1X69x1UTrVe64uz3nJ/view?usp=share_link"
                                style="color:white"></a>Facebook - Page
                        </h1>
                        <br>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a href="https://drive.google.com/file/d/1CZIHj8oE4Oel8X1X69x1UTrVe64uz3nJ/view?usp=share_link"
                            target="blank_">
                            <img src="{{ '/static/img/resources/Facebook_Cover.webp'|url }}" class="img-fluid img-thumbnail"
                                alt="Responsive image" style="margin-bottom:10px;">
                        </a>
                    </div>

                    <div>
                        <br>
                        <h1>
                            <a href="https://drive.google.com/file/d/18S5QhGFQAOQCi9JglZ2Pnvu5rA0Tz34c/view?usp=share_link"
                                style="color:white"></a>Facebook - Groups
                        </h1>
                        <br>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a href="https://drive.google.com/file/d/18S5QhGFQAOQCi9JglZ2Pnvu5rA0Tz34c/view?usp=share_link"
                            target="blank_">
                            <img src="{{ '/static/img/resources/Facebook_Cover.webp'|url }}" class="img-fluid img-thumbnail"
                                alt="Responsive image" style="margin-bottom:10px;">
                        </a>
                    </div>

                    <div>
                        <br>
                        <h1>
                            <a href="https://drive.google.com/file/d/1yhQNcKG45zWh5pWl0moEhUH0FIPZ9unG/view?usp=share_link"
                                style="color:white"></a>Facebook - Cover Profile
                        </h1>
                        <br>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a href="https://drive.google.com/file/d/1yhQNcKG45zWh5pWl0moEhUH0FIPZ9unG/view?usp=share_link"
                            target="blank_">
                            <img src="{{ '/static/img/resources/Facebook_Cover.webp'|url }}" class="img-fluid img-thumbnail"
                                alt="Responsive image" style="margin-bottom:10px;">
                        </a>
                    </div>

                    <div>
                        <br>
                        <h1>
                            <a href="https://drive.google.com/file/d/11gEqHGqEh6S2iHyPi6JvyqJARj33TZj4/view?usp=share_link"
                                style="color:white"></a>LinkedIn - Cover Profile
                        </h1>
                        <br>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a href="https://drive.google.com/file/d/11gEqHGqEh6S2iHyPi6JvyqJARj33TZj4/view?usp=share_link"
                            target="blank_">
                            <img src="{{ '/static/img/resources/Linkedin_Cover.png'|url }}" class="img-fluid img-thumbnail"
                                alt="Responsive image" style="margin-bottom:10px;">
                        </a>
                    </div>

                    <div>
                        <br>
                        <h1>
                            <a href="https://drive.google.com/file/d/1iFkVy6kAhMFTbj-swRj-P9uopCvsrDNO/view?usp=share_link"
                                style="color:white"></a>LinkedIn - Cover Business
                        </h1>
                        <br>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a href="https://drive.google.com/file/d/1iFkVy6kAhMFTbj-swRj-P9uopCvsrDNO/view?usp=share_link"
                            target="blank_">
                            <img src="{{ '/static/img/resources/Linkedin_Cover.png'|url }}" class="img-fluid img-thumbnail"
                                alt="Responsive image" style="margin-bottom:10px;">
                        </a>
                    </div>

                    <div>
                        <br>
                        <h1>
                            <a href="https://drive.google.com/file/d/1Bmh_AYy_vALIeqpGuF9fsqUD5WWZv4cQ/view?usp=share_link"
                                style="color:white"></a>Twitter - Cover
                        </h1>
                        <br>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a href="https://drive.google.com/file/d/1Bmh_AYy_vALIeqpGuF9fsqUD5WWZv4cQ/view?usp=share_link"
                            target="blank_">
                            <img src="{{ '/static/img/resources/Linkedin_Cover.png'|url }}" class="img-fluid img-thumbnail"
                                alt="Responsive image" style="margin-bottom:10px;">
                        </a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--SECOND-SECTION-END-->


{% endblock %}