{% extends "layout.html" %}
{%- block body -%}
{% include "speakers-modal.html"%}
{% include "keynotes-modal.html"%}
<div class="speakers-section d-flex justify-content-center">

    <div class="col-9 speakers-container" style="margin-top:130px">


        <div class="row speakers-tittle d-flex justify-content-center">
            <div class="col-12">
                <h1 style="color:#1E2C70;font-size: 40px;font-weight: 700;letter-spacing: 3px;maring:auto;text-align:center">• SCHEDULE •</h1>
            </div>

            <div class="col-12 d-flex justify-content-center" style="margin-top: 50px;">
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic radio toggle button group" style="background:#1E2C70;border-radius: 20px;">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked >
                    <label class="btn btn-outline-primary" for="btnradio1" style="background:#1E2C70;border-radius: 20px 0px 0px 20px;border:none;padding: 10px 24px">Friday 09</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick="location.href='{{ '/schedule-saturday'|url }}'">
                    <label class="btn btn-light" for="btnradio2" style="padding: 10px 24px"><a href="{{ '/schedule-saturday'|url }}" style="all:unset">Saturday 10</a></label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" onclick="location.href='{{ '/schedule-sunday'|url }}'">
                    <label class="btn btn-light" for="btnradio3"style="border-radius: 0px 20px 20px 0px;border:none;padding: 10px 24px"><a href="{{ '/schedule-sunday'|url }}" style="all:unset">Sunday 11</a></label>
                </div>
            </div>
        </div>



        <div class="schedule-box" style="margin-top:50px; margin-bottom:50px">
            <div class="row schedule-card d-flex justify-content-center" style="margin-top:50px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/register-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >7:30</h1>
                        <h2 style="">Register Friday</h2>
                        <h3 style="">Attenders Arrival - Kits Delivery</h3>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/opening-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >8:30</h1>
                        <h2 style="">Opening</h2>
                        <h3 style="">Organizers word´s</h3>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >8:45</h1>
                        <h2 style="">Pontificia Universidad Javeriana</h2>
                        <h3 style="">Decano de Ingeniería, Ing. Lope Hugo Barrero word´s</h3>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >9:00</h1>
                        <h2><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#lukaszModal">Lukasz Langa</a></h2>
                        <h3 style="">Keynote Speaker</h3>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/coffee-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >10:00</h1>
                        <h2 style="">Breakfast</h2>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="">
                    <div class="schedule-icon left ">
                        <h1 style="" >10:30</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#felipeGrandaModal">Felipe Granda</a></h2>
                        <h3 style="">How to build a high-performing software engineering team. [ES]</h3>
                        <label class="label-talk">COMMUNITY</label>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-3 col-xl-3">
                    <div class="schedule-icon center">
                        <h1 style="" >10:30</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#jaimeAcevedoModal">Jaime Acevedo</a></h2>
                        <h3 style="">GNN's: El Contexto de la Data. [ES]</h3>
                        <label class="label-talk">MACHINE LEARNING</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez<br>Auditorio piso 4 <br>(54-P400)</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="">
                    <div class="schedule-icon right">
                        <h1 style="" >10:30</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#sebastianAriasModal">Sebastian Arias</a></h2>
                        <h3 style="">Revive Your Legacy Code: Using Property-based Testing in Python to Refactor with Confidence. [EN]</h3>
                        <label class="label-talk">DEVELOPMENT</label>
                        <h4 style="">Auditorio Pablo VI <br>(41-P100)</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="">
                    <div class="schedule-icon left ">
                        <h1 style="" >11:20</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#oscarRiojasModal">Oscar Riojas</a></h2>
                        <h3 style="">Python y Blockchain caso Polkadot. [ES]</h3>
                        <label class="label-talk">BLOCKCHAIN</label>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-3 col-xl-3">
                    <div class="schedule-icon center">
                        <h1 style="" >11:20</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#juanPasosModal">Juan Pasos Rua</a> y <a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#marloncAJAMARCAModal">Marlon Cajamarca</a></h2>
                        <h3 style="">Supply Chain: Cómo las bases de datos basadas en grafos y modelos generativos de lenguaje pueden mejorar la toma de decisiones. [ES]</h3>
                        <label class="label-talk">MACHINE LEARNING</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez<br>Auditorio piso 4 <br>(54-P400)</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="">
                    <div class="schedule-icon right">
                        <h1 style="" >11:20</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#cristhianMotocheModal">Cristhian Motoche</a></h2>
                        <h3 style="">Get the best of Type Hints. [EN]</h3>
                        <label class="label-talk">DEVELOPMENT</label>
                        <h4 style="">Auditorio Pablo VI <br>(41-P100)</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/lunch-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >12:00</h1>
                        <h2 style="">Lunch Time</h2>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="">
                    <div class="schedule-icon left ">
                        <h1 style="" >13:30</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#andresDuqueModal">Andrés Duque</a></h2>
                        <h3 style="">Optimizando DB bottlenecks de 700 queries a 1 en Django. [ES]</h3>
                        <label class="label-talk">WEB DEVELOPMENT</label>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-3 col-xl-3">
                    <div class="schedule-icon center">
                        <h1 style="" >13:30</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#valentinaChaparroModal">Valentina Chaparro</a></h2>
                        <h3 style="">Find Love Watching Movies: How embeddings can be applied in recommender systems and improve candidate retrieval in a dating app!. [EN]</h3>
                        <label class="label-talk">MACHINE LEARNING</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez<br>Auditorio piso 4 <br>(54-P400)</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="">
                    <div class="schedule-icon right">
                        <h1 style="" >13:30</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#juanAlzateModal">Juan Alzate</a></h2>
                        <h3 style="">Desmitificando el Principio de Sustitución de Liskov con nuestro lenguaje más querido: Python. [ES]</h3>
                        <label class="label-talk">DEVELOPMENT</label>
                        <h4 style="">Auditorio Pablo VI <br>(41-P100)</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="">
                    <div class="schedule-icon left ">
                        <h1 style="" >14:20</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#joelIbacetaModal">Joel Ibaceta</a></h2>
                        <h3 style="">Aprovechando la potencia de Python en el navegador con WebAssembly. [ES]</h3>
                        <label class="label-talk">WEB DEVELOPMENT</label>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-3 col-xl-3">
                    <div class="schedule-icon center">
                        <h1 style="" >14:20</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#cristianGarciaModal">Cristian Garcia</a></h2>
                        <h3 style="">Deep Learning at scale with JAX: a tour of parallelism in JAX. [EN]</h3>
                        <label class="label-talk">MACHINE LEARNING</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez<br>Auditorio piso 4 <br>(54-P400)</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="">
                    <div class="schedule-icon right">
                        <h1 style="" >14:20</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#leandroColomboModal">Leandro E. Colombo</a></h2>
                        <h3 style="">From root to leaves: Storytelling of Dependency Trees. [ES]</h3>
                        <label class="label-talk">DEVELOPMENT</label>
                        <h4 style="">Auditorio Pablo VI <br>(41-P100)</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/coffee-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >15:00</h1>
                        <h2 style="">Coffee Break</h2>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="">
                    <div class="schedule-icon left ">
                        <h1 style="" >15:20</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#juanCaballeroModal">Juan Caballero</a></h2>
                        <h3 style="">Large Scale Django Lessons: Architecting your monolith from day one for scale. [EN]</h3>
                        <label class="label-talk">WEB DEVELOPMENT</label>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-3 col-xl-3">
                    <div class="schedule-icon center">
                        <h1 style="" >15:20</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#christianUrcuquiModal">Christian Urcuqui </a></h2>
                        <h3 style="">Ciberseguridad: los datos tienen la respuesta. [ES]</h3>
                        <label class="label-talk">CYBERSECURITY</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez<br>Auditorio piso 4 <br>(54-P400)</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="">
                    <div class="schedule-icon right">
                        <h1 style="" >15:20</h1>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#stefaniCastellanosModal">Stefani Castellanos</a></h2>
                        <h3 style="">Optimiza tus programas, acelera tu código. [ES]</h3>
                        <label class="label-talk">DEVELOPMENT</label>
                        <h4 style="">Auditorio Pablo VI <br>(41-P100)</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/coffee-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >16:00</h1>
                        <h2 style="">Coffee Break</h2>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >16:30</h1>
                        <h2 style="">Sponsored Content</h2>
                        <h3 style="">Form</h3>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >17:00</h1>
                        <h2><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#catherinModal">Catherine Devlin</a></h2>
                        <h3 style="">Keynote Speaker</h3>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/opening-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >18:00</h1>
                        <h2 style="">Closing</h2>
                        <h3 style="">Organizers Word´s</h3>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>
            <!--
            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/night-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >19:00</h1>
                        <h2 style="">Night Activity</h2>
                        <h3 style="">More information WhatsApp Pycon Colombia 2023</h3>
                        <h4 style="">TBD</h4>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</div>
{% endblock %}