{% extends "layout.html" %}
{%- block body -%}
{% include "speakers-modal.html"%}
{% include "keynotes-modal.html"%}
<div class="speakers-section d-flex justify-content-center">

    <div class="col-9 speakers-container" style="margin-top:130px">


        <div class="row speakers-tittle d-flex justify-content-center">
            <div class="col-12">
                <h1 style="color:#1E2C70;font-size: 40px;font-weight: 700;letter-spacing: 3px;maring:auto;text-align:center">• SCHEDULE •</h1>
            </div>

            <div class="col-12 d-flex justify-content-center" style="margin-top: 50px;">
                <div class="btn-group btn-group-lg" role="group" aria-label="Basic radio toggle button group" style="background:#1E2C70;border-radius: 20px;">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked onclick="location.href='{{ '/schedule'|url }}'">
                    <label class="btn btn-light" for="btnradio1" style="padding: 10px 24px; border-radius: 20px 0px 0px 20px;border:none"><a href="{{ '/schedule'|url }}" style="all:unset">Friday 09</a></label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick="location.href='{{ '/schedule-saturday'|url }}'">
                    <label class="btn btn-light" for="btnradio2" style="padding: 10px 24px"><a href="{{ '/schedule-saturday'|url }}" style="all:unset">Saturday 10</a></label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio3"style="background:#1E2C70;border-radius: 0px 20px 20px 0px;border:none;padding: 10px 24px">Sunday 11</label>
                </div>
            </div>
        </div>



        <div class="schedule-box" style="margin-top:50px; margin-bottom:50px">
            <div class="row schedule-card d-flex justify-content-center" style="margin-top:50px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/register-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >8:30</h1>
                        <h2 style="">Register Sunday</h2>
                        <h3 style="">Attenders Arrival</h3>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/coffee-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >9:00</h1>
                        <h2 style="">Breakfast</h2>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >9:00</h1>
                        <h2 style="">Open Spaces</h2>
                        <h3 style="">Open Theme - More information Comming soon</h3>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >10:00</h1>
                        <h2>Workshop - Room 101</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#miguelDiazModal">Miguel Díaz</a></h2>
                        <h3 style="">Model Serving con MLFlow. [ES]</h3>
                        <label class="label-talk">MACHINE LEARNING</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-3" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >10:00</h1>
                        <h2>Workshop - Room 102</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#johnnyMontoyaModal">Johnny Montoya</a></h2>
                        <h3 style="">Yet another BI Tool: Your AI Assistant for Data-Driven Success!. [ES]</h3>
                        <label class="label-talk">MACHINE LEARNING</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >10:00</h1>
                        <h2 style="">Workshop - Room 201</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#danielBarreiroModal">Daniel Barreiro</a></h2>
                        <h3 style="">From zero to Hero structuring Data project with a Data version control (DVC) approach. [ES]</h3>
                        <label class="label-talk">DATA SCIENCE</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src=""/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >10:00</h1>
                        <h2 style="">Workshop - Room 202</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#mridulSethModal">Mridul Seth</a></h2>
                        <h3 style="">Network Analysis Made Simple (and fast!). [EN]</h3>
                        <label class="label-talk">DATA SCIENCE</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-3" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >10:00</h1>
                        <h2 style="">Workshop - Room 203</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#jenniferVelezModal">Jennifer Velez</a></h2>
                        <h3 style="">Introducción a la bioinformática con Python. [ES]</h3>
                        <label class="label-talk">BIOINFORMATIC</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >10:00</h1>
                        <h2 style="">Workshop - Room 204</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#sergioPulgarinModal">Sergio Pulgarin</a></h2>
                        <h3 style="">Vamos a desplegar tu servicio web escrito en Python a la nube, a bajo costo y con CI/CD incluido. [ES]</h3>
                        <label class="label-talk">WEB DEVELOPMENT</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src=""/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >10:00</h1>
                        <h2 style="">Workshop - Room 301</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#camiloMolanoModal">Camilo Molano</a></h2>
                        <h3 style="">Python tambien te sirve para programar en blockchain. [ES]</h3>
                        <label class="label-talk">BLOCKCHAIN</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-3" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >10:00</h1>
                        <h2 style="">Workshop - Room 302</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#julianHernandezModal">Julian Hernandez Osorio</a></h2>
                        <h3 style=""> BOLD - Perfilamiento y calidad de datos con PyDeequ. [ES]</h3>
                        <label class="label-talk">DATA SCIENCE</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >10:00</h1>
                        <h2 style="">Workshop - Room 303</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#carlosAlarconModal">Carlos Alarcón</a></h2>
                        <h3 style="">Dominando Embeddings y bases de datos vectoriales: Búsqueda eficiente con HuggingFace y Python. [ES]</h3>
                        <label class="label-talk">ARTIFICIAL INTELLIGENCE</label>
                        <h4 style=""></h4>
                    </div>
                </div>

                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src=""/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="x">
                    <div class="schedule-icon left ">
                        <h1 style="" >10:00</h1>
                        <h2 style="">Workshop - Room 304</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#pabloGrillModal">Pablo Grill</a></h2>
                        <h3 style="">XmartLabs/Elastic - Create a Powerful Movie Search Tool in Python with Elasticsearch 8 and Semantic Vectors. [ES]</h3>
                        <label class="label-talk">NATURAL PROCESSING LANGUAGE</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-3" style="">
                    <div class="schedule-icon left ">
                        <h1 style="" >10:00</h1>
                        <h2 style="">Workshop - Room 412</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#cristianFlorezModal">Christian Florez</a></h2>
                        <h3 style="">HEINSOHN - A brief look into Fourier Transform and applications. [ES]</h3>
                        <label class="label-talk">COMPUTER SCIENCE</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="">
                    <div class="schedule-icon left ">
                        <h1 style="" ></h1>
                        <h2 style=""></h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#carlosAlarconModal"></a></h2>
                        <h3 style=""></h3>
                        <label class="label-talk"></label>
                        <h4 style=""></h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/lunch-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >12:00</h1>
                        <h2 style="">Lunch Time</h2>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >13:30</h1>
                        <h2>Workshop - Room 101</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#leonardoCalderonModal">Leonardo Calderón</a> y <a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#gustavoSaavedraModal">Gustavo Saavedra</a></h2>
                        <h3 style="">ENDAVA - Visualizing Algorithms with Kivy. [ES]</h3>
                        <label class="label-talk">DEVELOPMENT</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-3" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >13:30</h1>
                        <h2>Workshop - Room 102</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#anaLopezModal">Ana Maria Lopez</a></h2>
                        <h3 style="">Y ahora que tengo el modelo correcto, que sigue? MLOps una mirada desde la práctica. [ES]</h3>
                        <label class="label-talk">MACHINE LEARNING</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >13:30</h1>
                        <h2 style="">Workshop - Room 201</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#cheukTingModal">Cheuk Ting Ho</a></h2>
                        <h3 style="">Applying PyScript to Data Science Work. [EN]</h3>
                        <label class="label-talk">DATA SCIENCE</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src=""/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >13:30</h1>
                        <h2 style="">Workshop - Room 202</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#valentinaArizaModal">Valentina Ariza</a> y <a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#lauraLopezModal">Laura Lopez</a></h2>
                        <h3 style="">Data Streaming y NLP con PySpark. [ES]</h3>
                        <label class="label-talk">NATURAL PROCESSING LANGUAGE</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-3" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >13:30</h1>
                        <h2 style="">Workshop - Room 203</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#adewaleOlaniyanModal">Adewale Hafeez Olaniyan</a></h2>
                        <h3 style="">Python for Microcontrollers; Think Outside the Box. [EN]</h3>
                        <label class="label-talk">IOT</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >13:30</h1>
                        <h2 style="">Workshop - Room 204</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#luisHerreraModal">Luis Herrera </a></h2>
                        <h3 style="">Poetry, un amigo incondicional. [ES]</h3>
                        <label class="label-talk">DEVELOPMENT</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src=""/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >13:30</h1>
                        <h2 style="">Workshop - Room 301</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#felixMinoModal">Félix Miño</a></h2>
                        <h3 style="">Boosting up your tests: property-based testing workshop. [EN]</h3>
                        <label class="label-talk">TESTING</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-3" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >13:30</h1>
                        <h2 style="">Workshop - Room 302</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#sebastianLopezModal">Sebastián López</a></h2>
                        <h3 style="">SOFTSERVE - Desbloqueando el poder de los datos. [ES]</h3>
                        <label class="label-talk">DATA SCIENCE</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >13:30</h1>
                        <h2 style="">Workshop - Room 303</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#luisVillalobosModal">Luis Villalobos</a> y <a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#julianAmayaModal">Julián Amaya</a></h2>
                        <h3 style="">MONOKU - Crea tu Propio Chatbot Inteligente: Taller de Python con GPT y LangChain. [ES]</h3>
                        <label class="label-talk">ARTIFICIAL INTELLIGENCE</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src=""/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >13:30</h1>
                        <h2 style="">Workshop - Room 304</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#santiagoAlfonsoModal">Santiago Alfonso Viana</a></h2>
                        <h3 style=""> UNIVERSIDAD JAVERIANA - Procesamiento de imágenes landsat para la detección de bosque en cualquier parte del mundo. [ES]</h3>
                        <label class="label-talk">COMPUTER VISION</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-3" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" >13:30</h1>
                        <h2 style="">Workshop - Room 412</h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#juanMontoyaModal"> Juan Montoya</a></h2>
                        <h3 style="">ChatGPT and Elasticsearch: OpenAI meets private data.</h3>
                        <label class="label-talk">ARTIFICIAL INTELLIGENCE</label>
                        <h4 style="">Edif. Jesús Emilio Ramírez</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-4 col-xl-4" style="margin-bottom:50px">
                    <div class="schedule-icon left ">
                        <h1 style="" ></h1>
                        <h2 style=""></h2>
                        <h2 style=""><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#Modal"></a></h2>
                        <h3 style=""></h3>
                        <label class="label-talk"></label>
                        <h4 style=""></h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/coffee-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >15:30</h1>
                        <h2 style="">Coffee Break & Snacks</h2>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >16:00</h1>
                        <h2><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#debModal">Deb Nicholson</a></h2>
                        <h3 style="">Keynote Speaker</h3>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/talk-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >17:00</h1>
                        <h2><a class="name-schedule" href="" data-bs-toggle="modal" data-bs-target="#travisModal">Travis Oliphant</a></h2>
                        <h3 style="">Keynote Speaker</h3>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>

            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/opening-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >18:00</h1>
                        <h2 style="">Closing</h2>
                        <h3 style="">Organizers Word´s</h3>
                        <h4 style="">Auditorio Felix Restrepo</h4>
                    </div>
                </div>
            </div>
            <!--
            <div class="row schedule-card d-flex justify-content-center" style="margin-top:30px">
                <div class="icon col-sm-12 col-xs-1 col-md-11 col-lg-1 col-xl-1" >
                    <img src="{{ '/static/img/schedule/night-icon.png'|url }}"/>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-11">
                    <div class="schedule-icon">
                        <h1 style="" >19:00</h1>
                        <h2 style="">Night Activity</h2>
                        <h3 style="">More information WhatsApp Pycon Colombia 2023</h3>
                        <h4 style="">TBD</h4>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</div>
{% endblock %}
