{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<!--FIRST-SECTION-->
        
<div class="speakers-section">
    <div class="balloon-left  d-none d-xl-block" data-aos="fade-right" style="">
        <img src="{{ '/static/img/general_resources/left-globe.png'|url }}" alt="Welcome to a new dimension">
    </div>
    <div class="balloon-right d-none d-xl-block" data-aos="fade-left">
        <img src="{{ '/static/img/general_resources/right-globe.png'|url }}" alt="Welcome to a new dimension">
    </div>
    <div class="block-right d-none d-xl-block" data-aos="fade-left">
        <img src="{{ '/static/img/general_resources/right-globe2.png'|url }}" alt="Welcome to a new dimension" style="margin-top:500px;">
    </div>
    <div class="container" data-aos="zoom-in">
        <!--principal logo section-->
        <section class="section-container1">
            <div class="row section-container justify-content-center" >
                <div class="principal-logo col-sm-8" style="margin-top:100px">
                    <h1>
                        <img src="{{ '/static/img/general_resources/logo_main.png'|url }}" alt="Pycon Colombia 2023">
                        <span>Bogotá, Colombia</span>
                        <span>June 9, 10 and 11</span>
                    </h1>
                    <a href="https://forms.gle/MimQpaY7fDm9YgCk9" target="blank">
                        <img class="img-fluid" src="{{ '/static/img/scholarships/scholarships.png'|url }}" alt="..." style="margin-top:50px">
                    </a>
                    <img id="arrow" src="{{ '/static/img/general_resources/arrow.png'|url }}" style="margin-top:30px;width:50px">
                </div>
            </div>
        </section>
    </div>
    <img class="img-fluid" src="{{ '/static/img/general_resources/background-mountains.png'|url }}" alt="..." style="width:100%">
</div>

<!--FIRST-SECTION-END-->

<!--SECOND-SECTION-->
<div class="second-section">

  <!--code of conduct-section -->
  <section class="section-container">
      <div class="container col-sm-8 col-xs-8">
          <div class="row content-container text-cards justify-content-center">
              <div class="tittle-container">
                  <p>
                      • PYCON 2023 DIVERSITY SCHOLARSHIPS •
                  </p>
              </div>

              <div class="col-md-10 col-sm-10 ">
                  <div class="content">
                      <br>
                      <p>Python's presence in software development worldwide continues to increase, leading to new outcomes changing our time. 
                        At PyCon Colombia, in addition to promoting open source and sharing among all attendees, we strive every year to ensure
                         that our community is as accessible and diverse as possible. We see diversity and inclusion as a benefit to the 
                         ecosystem and its individuals.
                      </p>
                      <br>
                      <p>We aim for PyCon Colombia to be inclusive of the entire Python community in our country. In order to help alleviate 
                        financial barriers to attending the conference, the PyCon organizing committee is offering scholarships to individuals 
                        who face financial obstacles, including students and members of underrepresented groups within the Python community. 
                        These scholarships cover the cost of conference admission. 
                      </p>
                      <br>
                      <p>It should be noted that scholarship recipients will be responsible for covering all other expenses, such as 
                        travel, accommodations, visa fees, and transportation.
                      </p>
                      <br>
                      <h1>Eligibility</h1>
                      <br>
                      <p>These scholarships are aimed at individuals facing financial barriers, including students and individuals from 
                        underrepresented groups in the technology community, such as women, LGBTQIA+ individuals, persons with disabilities, 
                        and racial and ethnic minorities. We encourage all of you to apply for our scholarships.
                      </p>
                      <br>
                      <p>Please read the following instructions and complete the form to apply for the scholarship.</p>
                      <br>
                      <p>Please note that each application will be individually reviewed by the PyCon Colombia Organizing 
                        Team and classified according to the application form and letter of intent responses. All personal 
                        information collected will be kept confidential.
                      </p>
                      <br>
                      <p>Submitting your application doesn’t guarantee immediate eligibility. Please review the terms and conditions.</p>
                      <br>
                      <p>If you want to apply, please go to this form: <a href="https://forms.gle/MimQpaY7fDm9YgCk9" target="blank">Link form</a></p>
                      <br>
                      <h1>Acknowledgments</h1>
                      <br>
                      <p>The PyCon Colombia 2023 Diversity Program is made possible thanks to the support of PyCon Colombia 2023 sponsors.</p>
                      <br>
                      <p>If your organization is interested in participating in the Diversity Program, please contact: scholarships@pycon.co</p>
                      <br>
                      <h1>Important Dates</h1>
                      <br>
                      <ul>
                          <li>Application opens May 1. Applications for the PyCon Colombia scholarship must be submitted starting on this day.</li>
                          <li>Application deadline: May 15. The form will close on this day.</li>
                          <li>Selected applications: May 20. Winners of the scholarship will be notified by email of their acceptance.</li>
                          <li>Confirmation: May 30. Scholarship winners must confirm their acceptance.</li>
                      </ul>
                      <br>
                      <h1>Terms and Conditions</h1>
                      <br>
                      <p>For your application to be accepted:</p>
                      <br>
                      <ul>
                        <li>You must submit it within the dates and deadlines.</li>
                        <li>You must provide a letter of interest following the suggested format.</li>
                        <li>You must be available to attend the entire PyCon Colombia Conference (June 9, June 10, and June 11, 2023).</li>
                        <li>You must attach a legalized authorization from your parents if you are a minor.</li>
                      </ul>
                      <br>
                      <h1>You were selected. Do you want to help the conf?</h1>
                      <br>
                      <p>For accepted scholarship recipients attending the conference, we would love for you to share your experience with the
                        world about how PyCon Colombia 2023 was and encourage more people to apply for the scholarships next year. Possible ways to help us are:
                      </p>
                      <br>
                      <ul>
                        <li>Posts on Social media your journey and details about the conference. Please add the tag of @PyConColombia</li>
                        <li>Write a blog or record a video sharing your experience at the conference.</li>
                        <li>** Interview in a blog or video format **</li>
                        <li>** Please note that in either of these formats, you can choose to remain anonymous.**</li>
                      </ul>

                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
<!--SECOND-SECTION-END-->
{% endblock %}