{% extends "layout.html" %}
{%- block body -%}
<div class="speakers-section d-flex justify-content-center">
    <div class="col-10 speakers-container" style="margin-top:130px">
        <div class="speakers-tittle">
            <h1 style="color:#1E2C70;font-size: 40px;font-weight: 700;letter-spacing: 3px;maring:auto;text-align:center">• SPEAKERS •<h1>
            <h2 style="color:#FFFFFF;font-size: 25px;font-weight:;letter-spacing: 3px;maring:auto;text-align:center">Learn more about the people who are part of Pycon 2023<h2>
        </div>
        <div class="speakers-box" style="margin-top:50px">
            <div class="row">
                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#debModal">
                          <img src="{{ '/static/img/speakers/prueba-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="color:#1E2C70;font-size: 35px;font-weight: 700;maring:auto;text-align:center">Ivan Roa</h1>
                        <h2 style="color:#1E2C70;font-size: 23px;maring:auto;text-align:center;margin-top:-10px">UX/UI Designer</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speakers-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#debModal">
                          <img src="{{ '/static/img/speakers/prueba-speaker.png'|url }}">
                        </a>
                    </div>
                </div>
                <div class="col" style="margin-top:20px">
                    <div class="speakers-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#debModal">
                          <img src="{{ '/static/img/speakers/prueba-speaker.png'|url }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
{% endblock %}