{% extends "layout.html" %}
{%- block body -%}
{% include "speakers-modal.html"%}
<div class="speakers-section d-flex justify-content-center">

    <div class="col-8 speakers-container" style="margin-top:130px">
        <!--
        <div class="cloud d-none d-xl-block" data-aos="fade-right" style="">
            <img src="{{ '/static/img/general_resources/clouds-img.png'|url }}" alt="Welcome to a new dimension">
        </div>
        -->

        <div class="speakers-tittle">
            <h1 style="color:#1E2C70;font-size: 40px;font-weight: 700;letter-spacing: 3px;maring:auto;text-align:center">• SPEAKERS •<h1>
            <h2 style="color:#FFFFFF;font-size: 25px;font-weight:;letter-spacing: 3px;maring:auto;text-align:center">Learn more about the people who are part of Pycon 2023<h2>
        </div>
        <div class="speakers-box" style="margin-top:50px">
            <div class="row">
                <div class="col" style="margin-top:20px">
                    <div class="speakers-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#alvaroMoyaModal">
                          <img src="{{ '/static/img/speakers/alvaro-moya-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Alvaro Moya</h1>
                        <h2 style="">LIDR.co</h2>
                    </div>
                </div>
                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#felipeGrandaModal">
                          <img src="{{ '/static/img/speakers/felipe-granda-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Felipe Granda</h1>
                        <h2 style="">Addi</h2>
                    </div>
                </div>
                <div class="col" style="margin-top:20px">
                    <div class="speakers-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#julianTinocoModal">
                          <img src="{{ '/static/img/speakers/julian-tinoco-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Julian Tinoco</h1>
                        <h2 style="">GoTo</h2>
                    </div>
                </div>
                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#felixMinoModal">
                          <img src="{{ '/static/img/speakers/felix-mino-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Félix Miño</h1>
                        <h2 style="">Stack Builders</h2>
                    </div>
                </div>
                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#valentinaArizaModal">
                          <img src="{{ '/static/img/speakers/valentina-ariza-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Valentina Ariza</h1>
                        <h2 style="">Dataknow</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#lauraLopezModal">
                          <img src="{{ '/static/img/speakers/laura-lopez-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Laura Lopez</h1>
                        <h2 style="">Accenture</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#cristianTayupantaModal">
                          <img src="{{ '/static/img/speakers/cristian-tayupanta-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Christian Tayupanta</h1>
                        <h2 style="">FUNPYTHON ECUADOR</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#juanAlzateModal">
                          <img src="{{ '/static/img/speakers/juan-alzate-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Juan Alzate</h1>
                        <h2 style="">Hourly</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#jorgePazModal">
                          <img src="{{ '/static/img/speakers/jorge-paz-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Jorge De Paz Rivera</h1>
                        <h2 style="">BAC Credomatic </h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#valentinaChaparroModal">
                          <img src="{{ '/static/img/speakers/valentina-chaparro-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Valentina Chaparro</h1>
                        <h2 style="">Factored</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#danielBarreiroModal">
                          <img src="{{ '/static/img/speakers/daniel-barreiro-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Daniel Barreiro</h1>
                        <h2 style="">Appgate</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#danielAndradeModal">
                          <img src="{{ '/static/img/speakers/daniel-andrade-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Daniel Andrade</h1>
                        <h2 style="">Icfes - Data Scientist</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#jenniferVelezModal">
                          <img src="{{ '/static/img/speakers/jennifer-velez-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Jeniffer Velez</h1>
                        <h2 style="">RSG-Colombia</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#juanCaballeroModal">
                          <img src="{{ '/static/img/speakers/juan-caballero-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Juan Caballero</h1>
                        <h2 style="">Monadical</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#stefaniCastellanosModal">
                          <img src="{{ '/static/img/speakers/stefani-castellanos-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Stefani Castellanos</h1>
                        <h2 style="">Stack Builders</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#luisHerreraModal">
                          <img src="{{ '/static/img/speakers/luis-herrera-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Luis Herrera</h1>
                        <h2 style="">Mercado Libre</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#mateoGracianoModal">
                          <img src="{{ '/static/img/speakers/mateo-graciano-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Mateo Graciano</h1>
                        <h2 style="">Landed</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#fabioPintoModal">
                          <img src="{{ '/static/img/speakers/fabio-pinto-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Fabio Pinto</h1>
                        <h2 style="">BD Guidance / Fundación Universitaria del Área Andina</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#sebastianAriasModal">
                          <img src="{{ '/static/img/speakers/sebastian-arias-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Sebastian Arias</h1>
                        <h2 style="">Stack Builders</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#johnnyMontoyaModal">
                          <img src="{{ '/static/img/speakers/johnny-montoya-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Johnny Montoya</h1>
                        <h2 style="">La Haus</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#cheukTingModal">
                          <img src="{{ '/static/img/speakers/cheuk-ting-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Cheuk Ting Ho</h1>
                        <h2 style="">Anaconda</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#joelIbacetaModal">
                          <img src="{{ '/static/img/speakers/joel-ibaceta-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Joel Ibaceta</h1>
                        <h2 style="">Kwema.co</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#christianUrcuquiModal">
                          <img src="{{ '/static/img/speakers/christian-urcuqui-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Christian Urcuqui</h1>
                        <h2 style="">Globant</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#katerineValenciaModal">
                          <img src="{{ '/static/img/speakers/katerin-valencia-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Katerine Valencia</h1>
                        <h2 style="">PyLadies Colombia - Data Science FEM</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#sandyAtencioModal">
                          <img src="{{ '/static/img/speakers/sandy-atencio-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Sandy Atencio</h1>
                        <h2 style="">Data Science FEM, AWS Women Colombia</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#cristianGarciaModal">
                          <img src="{{ '/static/img/speakers/cristian-garcia-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Cristian Garcia</h1>
                        <h2 style="">Quansight</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#leandroColomboModal">
                          <img src="{{ '/static/img/speakers/leandro-colombo-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Leandro E. Colombo</h1>
                        <h2 style="">Python Argentina / Mercado Libre</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#sergioValenzuelaModal">
                          <img src="{{ '/static/img/speakers/sergio-valenzuela-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Sergio Valenzuela</h1>
                        <h2 style="">Universidad Nacional del Sur (UNS), Bahía Blanca Argentina</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#jaimeAcevedoModal">
                          <img src="{{ '/static/img/speakers/jaime-acevedo-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Jaime David Acevedo</h1>
                        <h2 style="">Neural Design</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#xamirRojasModal">
                          <img src="{{ '/static/img/speakers/xamir-rojas-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Xamir Rojas</h1>
                        <h2 style="">Kiwibot</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#mridulSethModal">
                          <img src="{{ '/static/img/speakers/mridul-seth-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Mridul Seth</h1>
                        <h2 style="">NetworkX</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#andresDuqueModal">
                          <img src="{{ '/static/img/speakers/andres-duque-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Andres Duque</h1>
                        <h2 style="">Buildertrend</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#camiloMolanoModal">
                          <img src="{{ '/static/img/speakers/camilo-molano-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Camilo Molano</h1>
                        <h2 style="">Algorand Foundation</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#sergioPulgarinModal">
                          <img src="{{ '/static/img/speakers/sergio-pulgarin-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Sergio Pulgarin</h1>
                        <h2 style="">Ghost Security</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#anaLopezModal">
                          <img src="{{ '/static/img/speakers/ana-lopez-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Ana Maria Lopez</h1>
                        <h2 style="">Microsoft</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#juanPasosModal">
                          <img src="{{ '/static/img/speakers/juan-pasos-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Juan Pasos Rua</h1>
                        <h2 style="">Provectus</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#cristhianGarciaModal">
                          <img src="{{ '/static/img/speakers/cristian-garcia-provectus-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Cristhian Garcia</h1>
                        <h2 style="">Provectus</h2>
                    </div>
                </div>

                <div class="col" style="margin-top:20px">
                    <div class="speaker-img d-flex justify-content-center align-items-center">
                        <a href="" data-bs-toggle="modal" data-bs-target="#adewaleOlaniyanModal">
                          <img src="{{ '/static/img/speakers/adewale-olaniyan-speaker.png'|url }}">
                        </a>
                    </div>
                    <div class="speaker-name" style="margin-top:10px">
                        <h1 style="">Adewale Olaniyan</h1>
                        <h2 style="">Techware Innovation Limited - RobotKraft Africa</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}