<!-- Modal -->
<div class="modal custom fade" id="alvaroMoyaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xl-4 col-sm-12 justify-content-center">
              <img class="rounded mx-auto d-block" src="{{ '/static/img/speakers/alvaro-moya-speaker.png'|url }}">
            </div>
            <div class="col-xl-8 col-sm-12">
              <h1>Alvaro Moya</h1>
              <h2>LIDR.co</h2>
              <h3>
                I've trained hundreds of engineers who are going to transition from individual contributor to 
                roles such as tech lead, engineering manager or CTO.
              </h3>
              <br>
              <br>
              <h2>Talk</h2>
              <label class="label-talk">TECH LEADERSHIP</label>
              <h3>
                From developer to manager: the recipe for a successful transition 
              </h3>

            </div>
            <div class="row justify-content-center" style="margin-top:30px;">
              <div class="col-1" style="margin:20px">
                <a href="https://www.linkedin.com/in/alvarormoya/" target="_blank">
                  <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="felipeGrandaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/speakers/felipe-granda-speaker.png'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Felipe Granda</h1>
            <h2>Addi</h2>
            <h3>
              I'm leading high-performing teams and I'm prepared continuous improvements understanding key 
              elements needed for success in software engineering products, I would like to share my knowledge 
              and experience with others and helping them to achieve success in their own software engineering projects.
            </h3>
            <br>
            <br>
            <h2>Talk</h2>
            <label class="label-talk">DEVOPS</label>
            <h3>
              A high-performing software engineering team is united by a shared vision and purpose, has a culture of 
              trust and respect, is committed to continuous learning and improvement, and has access to the right tools 
              and resources. With this, a team will deliver quality software that meets client needs.
            </h3>

          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/felipegranda/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://github.com/addifgranda" target="_blank">
                <i class="fa-brands fa-github fa-beat fa-2xl" style="color:#E776CF"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="julianTinocoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/speakers/julian-tinoco-speaker.png'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Julian Tinoco</h1>
            <h2>Goto</h2>
            <h3>
              Si hay una pregunta recurrente en todas las conferencias a las que he asistido en los EE. UU., 
              Canadá y Colombia, es cómo comenzar con las pruebas y cómo asegurarse de la calidad del 
              software. En mi charla, creo que puedo ofrecer un ejemplo real que puede ayudar a muchas 
              personas a comprender el concepto de calidad y lo fácil que puede ser la automatización de 
              pruebas.
              <br>
              <br>
              En mi experiencia en GoTo, una empresa global con 4000 empleados en diferentes partes del 
              mundo, automatizamos pruebas en una aplicación que recibe 12 millones de llamadas por día en 
              América del Norte y Brasil. Las pruebas automatizadas han demostrado ser cruciales al 
              descubrir errores en el código en cuestión de horas después de cualquier cambio. Con este 
              ejemplo y mi experiencia en pruebas automáticas en diferentes tecnologías, puedo mostrar cómo 
              lograr la calidad en el software a través de la automatización de pruebas de manera efectiva.
            </h3>
            <br>
            <br>
            <h2>Talk</h2>
            <label class="label-talk">TEST AUTOMATION</label>
            <h3>
              Automatización de pruebas móviles con Python, Robot Framework y BrowserStack: Garantizando la 
              calidad en aplicaciones móviles
            </h3>

          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/julian-tinoco-5b621821/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://github.com/juliantinoco" target="_blank">
                <i class="fa-brands fa-github fa-beat fa-2xl" style="color:#E776CF"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="felixMinoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/speakers/felix-mino-speaker.png'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Félix Miño</h1>
            <h2>Stack Builders</h2>
            <h3>
              In these 4+ years of experience in the software industry, I’ve witnessed the benefits of having a 
              good test suite that can prevent us from breaking our application or introducing bugs to our production 
              environment. I believe property testing is another useful tool to help us in this journey. I think I’m 
              the right person to impart this workshop since I have the experience in : 1) the software industry: 
              working on world-class projects in different languages and 2) as a conference speaker. This year, I want 
              to go a step further and have the opportunity to share this knowledge and make a bigger impact in the 
              community through this workshop.
            </h3>
            <br>
            <br>
            <h2>Talk</h2>
            <label class="label-talk">WEB TESTING</label>
            <h3>
              Boosting up your tests: property-based testing workshop
            </h3>

          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/f%C3%A9lix-mi%C3%B1o-2010a81b1/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://github.com/felixminom" target="_blank">
                <i class="fa-brands fa-github fa-beat fa-2xl" style="color:#E776CF"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="valentinaArizaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/speakers/valentina-ariza-speaker.png'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Valentina Ariza</h1>
            <h2>Dataknow</h2>
            <h3>
              Soy ingeniera de datos hace dos años, y trabajo principalmente con datos en Streaming, todo 
              lo relacionado con IoT y aplicaciones para disponer los datos en tiempo real. Tengo experiencia 
              realizando conexiones con diferentes fuentes y creando soluciones basadas en datos. He realizado  
              charlas realizados con Data Science en diferentes eventos nacionales porque me gusta compartir el 
              conocimiento y todo lo que voy aprendiendo. 
            </h3>
            <br>
            <br>
            <h2>Talk</h2>
            <label class="label-talk">DATA SCIENCE</label>
            <h3>
              Data Streaming y NLP con PySpark: Puedes bajar información en tiempo real de la conversación y 
              realizarle un análisis para conocer qué temas se están tratando y qué palabras se usan.
            </h3>
          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/valearizag/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="lauraLopezModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/speakers/laura-lopez-speaker.png'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Laura Lopez</h1>
            <h2>Accenture</h2>
            <h3>
              Trabajo con proyectos de análisis de contenido de redes sociales donde utilizo procesamiento de 
              lenguaje natural para limpieza de texto, análisis de temáticas, temas principales, sentimientos y 
              topologías de la conversación. Es un tema que me gusta mucho y del cuál he ido aprendiendo en la 
              labor que desempeño cada día.
              <br>
              <br>
              Data Streaming y NLP son conceptos muy utiles y más ahora con todo el uso que le damos a las redes 
              sociales, consideramos que es tema de mucho valor para un perfil profesional y con ello nace la idea 
              de crear este workshop para compartir y aprender juntos sobre estos dos temas, cómo se complementan, 
              los conceptos principales y herramientas básicas.
            </h3>
            <br>
            <br>
            <h2>Talk</h2>
            <label class="label-talk">DATA SCIENCE</label>
            <h3>
              Data Streaming y NLP con PySpark: Puedes bajar información en tiempo real de la conversación y 
              realizarle un análisis para conocer qué temas se están tratando y qué palabras se usan.
            </h3>
          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/lauralpezb/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://github.com/lauralpezb" target="_blank">
                <i class="fa-brands fa-github fa-beat fa-2xl" style="color:#E776CF"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="cristianTayupantaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/speakers/cristian-tayupanta-speaker.png'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Christian Tayupanta</h1>
            <h2>FUNPYTHON ECUADOR</h2>
            <h3>
              Como desarrollador de sistemas mecatrónicos con una amplia experiencia en el campo, he tenido la 
              oportunidad de compartir mis conocimientos con otros a través de charlas y clases. En los últimos 
              5 años, he dado presentaciones en diversas entidades en Ecuador, demostrando mi habilidad para 
              transmitir información sobre tecnología de manera clara y concisa.
              <br>
            </h3>
            <br>
            <br>
            <h2>Talk</h2>
            <label class="label-talk">COMMUNITY IOT</label>
            <h3>
              Demostración de una planta de entramiento industrial con micropython.
            </h3>
          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/ctayupanta/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="juanAlzateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/speakers/juan-alzate-speaker.png'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Juan Alzate</h1>
            <h2>Hourly</h2>
            <h3>
              When someone asks me about an advice for writing good quality code, I always advise to learn the 
              fundamentals. When I say the fundamentals, I mean the pillars of software design, like programming 
              paradigms and design patterns. And that is because learning the basics drives you not only to write 
              better code but extensible and readable code. Object Oriented Programming has been around on every 
              project that I have been part of and, learning SOLID in the right way, it has helped me a lot to make 
              better design decisions. However, many people are focused on writing functional code and put aside the 
              fundamentals, waiting to have enough time in the future to come back and study basic concepts in a deep 
              way. I have been writing code the last 9 years and I can bet that one of the best decisions that I have
               made is to understand and study deeply the SOLID principles some time ago. The Liskov Substitution 
               Principle is an important one because helps you to write good inheritance. I would like to share my 
               knowledge about this basic, but fundamental and important, concept with the community considering that 
               Python is a great language to explain the hard parts and make them easy to understand.
            </h3>
            <br>
            <br>
            <h2>Talk</h2>
            <label class="label-talk">CORE PYTHON</label>
            <h3>
              Demystifying the Liskov Substitution Principle with our most loved programming language: Python
            </h3>
          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/jdalzatec/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://github.com/jdalzatec" target="_blank">
                <i class="fa-brands fa-github fa-beat fa-2xl" style="color:#E776CF"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="jorgePazModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/speakers/jorge-paz-speaker.png'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Jorge De Paz Rivera</h1>
            <h2>BAC Credomatic</h2>
            <h3>
              A lo largo de mi carrera he dado charlas respecto a tecnología en distintas comunidades y universidades. 
              (Comunidad Arduino de Guatemala, Circuit Python Day, Encuentro Centro Americano de Software Libre, INCmty,
               Sillicon Valley Forum) y e logrado adquirir la habilidad para transmitir mis ideas además de que para mi
                es un gusto compartir y devolver a la comunidad lo que he aprendido a través de este tipo de eventos.
            </h3>
            <br>
            <br>
            <h2>Talk</h2>
            <label class="label-talk">COMPUTER VISION</label>
            <h3>
              Desarrollo de firmware para micro controladores o sistemas embebidos utilizando python.
            </h3>
          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/jorgedepazrivera/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="valentinaChaparroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/speakers/valentina-chaparro-speaker.png'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Valentina Chaparro</h1>
            <h2>Factored</h2>
            <h3>
              A lo largo de mi carrera he dado charlas respecto a tecnología en distintas comunidades y universidades. 
              (Comunidad Arduino de Guatemala, Circuit Python Day, Encuentro Centro Americano de Software Libre, INCmty,
               Sillicon Valley Forum) y e logrado adquirir la habilidad para transmitir mis ideas además de que para mi
                es un gusto compartir y devolver a la comunidad lo que he aprendido a través de este tipo de eventos.
            </h3>
            <br>
            <br>
            <h2>Talk</h2>
            <label class="label-talk">COMPUTER VISION</label>
            <h3>
              Desarrollo de firmware para micro controladores o sistemas embebidos utilizando python.
            </h3>
          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/valenchaparro/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://github.com/hackertina" target="_blank">
                <i class="fa-brands fa-github fa-beat fa-2xl" style="color:#E776CF"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="danielBarreiroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/speakers/daniel-barreiro-speaker.png'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Daniel Barreiro</h1>
            <h2>Appgate</h2>
            <h3>
              Soy el ingeniero de datos de un equipo de investigación en una compañía que desarrolla software en el 
              área de seguridad informática. Creo que soy la persona adecuada para hablar de la estructuración de 
              proyectos de datos con una aproximación a Data version control (DVC) porque he tenido la oportunidad 
              de trabajar en proyectos complejos que requieren una gestión adecuada de los datos, y que han tenido un 
              impacto directo en la toma de decisiones de nuestra compañía.
              <br>
              <br>
              En el desarrollo de soluciones y nuevos proyectos, nos hemos enfrentado a diversos obstáculos que se han 
              resuelto aplicando distintos enfoques y herramientas. En este proceso, hemos notado la importancia de 
              estructurar de manera efectiva los proyectos para que puedan ser fácilmente integrados por otros equipos 
              en ciclos posteriores al desarrollo de la solución, así como para darle un manejo adecuado al ciclo 
              posterior a despliegue.
              <br>
              <br>
              Desde mi experiencia en un entorno productivo real dentro de una compañía que necesita generar modelos y 
              agilizar el despliegue de los mismos, puedo aportar conocimientos prácticos sobre la gestión de datos y 
              la implementación de estrategias de Data version control (DVC). He trabajado en proyectos de extracción, 
              transformación y carga de datos (ETL), así como en la creación de pipelines de procesamiento de datos. 
              Además, he liderado equipos de trabajo en proyectos de análisis de datos, y he contribuido a la 
              implementación.
            </h3>
            <br>
            <br>
            <h2>Talk</h2>
            <label class="label-talk">DATA SCIENCE</label>
            <h3>
              From zero to Hero structuring Data project with a Data version control (DVC) approach
            </h3>
          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/daniel-barreiro-7874b0179/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://github.com/danielbarreiro1" target="_blank">
                <i class="fa-brands fa-github fa-beat fa-2xl" style="color:#E776CF"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="danielAndradeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/speakers/daniel-andrade-speaker.png'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Daniel Andrade</h1>
            <h2>Icfes - Data Scientist</h2>
            <h3>
              Soy el coautor principal de este proyecto, he liderado desde su concepción, desarrollo y despliegue.
            </h3>
            <br>
            <br>
            <h2>Talk</h2>
            <label class="label-talk">DATA SCIENCE</label>
            <h3>
              IA en lo público: desarrollo y despliegue de un motor de búsqueda semántico para aportar al construcción 
              y evaluación de la política pública en Colombia
            </h3>
          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/daandrader/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="jenniferVelezModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-4 col-sm-12 justify-content-center">
            <img class="rounded mx-auto d-block" src="{{ '/static/img/speakers/jennifer-velez-speaker.png'|url }}">
          </div>
          <div class="col-xl-8 col-sm-12">
            <h1>Jennifer Velez</h1>
            <h2>RSG-Colombia</h2>
            <h3>
              Como parte de mi maestría desarrollé habilidades en programación con Python y R. En el 2017 prénsenle 
              una introducción a la bioinformática y apoye el taller de Django Girls.             
            </h3>
            <br>
            <br>
            <h2>Talk</h2>
            <label class="label-talk">BIOINFORMATIC</label>
            <h3>
              Introducción a la bioinformática con Python.
            </h3>
          </div>
          <div class="row justify-content-center" style="margin-top:30px;">
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/in/jennifer-velez-segura-34502958" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://github.com/jevelezse" target="_blank">
                <i class="fa-brands fa-github fa-beat fa-2xl" style="color:#E776CF"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

