<!-- Modal -->
<div class="modal custom fade" id="monokuModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 justify-content-center">
              <img class="rounded mx-auto d-block img-fluid" src="{{ '/static/img/Sponsors/monoku-information/monoku2.png'|url }}">
            </div>

            <div class="row justify-content-center" style="margin-top:30px">
              <div class="col-1" style="margin:20px">
                <a href="https://www.facebook.com/mrmonoku/" target="_blank">
                  <i class="fa-brands fa-facebook fa-beat fa-2xl" style="color: #E776CF;"></i>
                </a>
              </div>
              <div class="col-1" style="margin:20px">
                <a href="https://twitter.com/monoku" target="_blank">
                    <i class="fa-brands fa-twitter fa-beat fa-2xl" style="color:#E776CF;"></i>
                </a>
              </div>
              <div class="col-1" style="margin:20px">
                <a href="https://www.instagram.com/monoku_" target="_blank">
                    <i class="fa-brands fa-instagram fa-beat fa-2xl" style="color:#E776CF;"></i>
                </a>
              </div>
              <div class="col-1" style="margin:20px">
                <a href="https://www.linkedin.com/company/monoku/" target="_blank">
                  <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
                </a>
              </div>
              <div class="col-1" style="margin:20px">
                <a href="https://monoku.com/" target="_blank">
                    <i class="fa-solid fa-globe fa-beat fa-2xl" style="color:#E776CF;"></i>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-12" style="border-top: 1px solid white; margin-top:30px">
              <h3>
                We are <a href="https://monoku.com/" target="_blank">Monoku</a>, a small and independent Latin American software company founded in 2009. Since our inception, 
                we have adopted and embraced the use of Python in all our developments. Currently, we are focused on understanding 
                how artificial intelligence and remote work are transforming the world. We recently launched our new product, GeniePM, 
                and we are excited for you to try it. We are thrilled to be part of the growing technological ecosystem in Latin America and 
                would like to invite our friends and colleagues from the region to greet us and work together to create significant and innovative 
                changes that demonstrate the talent and potential of our people.
              </h3>
              <!--
              <div class="col-10 ratio ratio-16x9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I1XEF3JF76M" allowfullscreen; style="padding:10px;"></iframe>
              </div>
              -->
              <br>
              <h3>
                With this in mind, we've developed a diverse range of products to cater to different needs and interests.
                One of our creations is Mundos Sonoros, a website designed specifically for remote workers seeking balance between 
                work and relaxation. Mundos Sonoros offers a variety of calming soundscapes to help users unwind and find peace after 
                a long day. We invite you to join us in experiencing the soothing vibes that Mundos Sonoros brings to the remote work experience. 
                <a href="https://app.mundossonoros.com/" target="blank">Mundos Sonoros</a>
              </h3>
              <br>
              <div class="col-10 ratio ratio-16x9">
                <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/Ue7d0SYxJiE" allowfullscreen; style="padding:10px;"></iframe>
              </div>
              <br>
              <h3>
                We also have a thrilling game called Hush for Meta Quest 2. Our dedicated team put their creativity to work, crafting a 
                stealth-based adventure where players must outsmart robots to survive. If you have a Meta Quest device, we invite you to 
                purchase and dive into the exciting world of Hush.
                <a href="https://hushgame.co" target="blank">Hush</a>
              </h3>
              <br>
              <div class="col-10 ratio ratio-16x9">
                <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/wfy5NRI5kxw" allowfullscreen; style="padding:10px;"></iframe>
              </div>
              <br>
              <h3>
                In the spirit of collaboration and efficiency, we've developed GeniePM, a handy tool that aims to make project management easier.
                Using AI technology, GeniePM simplifies the process of creating user stories, tasks, and requirements for projects. We're offering a 
                free beta version of our tool, and we'd like to invite you to give it a try and see how it can enhance productivity. Let's work together 
                to explore the potential of artificial intelligence and contribute to the thriving tech scene worldwide.
                <a href="https://genie.pm " target="blank">GeniePM</a>
              </h3>
              <br>
              <div class="col-10 ratio ratio-16x9">
                <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/AaBqowK43-Q" allowfullscreen; style="padding:10px;"></iframe>
              </div>
              <br>
              <h3>
                As we prepare for PyCon, we would love to connect with everyone and share our experiences, ideas, and passion for Python and technology. 
                We're looking forward to meeting you all, exchanging knowledge, and discovering new opportunities for collaboration. Together, 
                we can continue to shape the future of technology and showcase the incredible talent that our community has to offer. See you there!
              </h3>
              <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px">
                <img src="{{ '/static/img/Sponsors/monoku-information/Imagen1.jpeg'|url }}" class="img-fluid img-thumbnail" alt="...">
              </div>

              <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px">
                <img src="{{ '/static/img/Sponsors/monoku-information/Imagen2.jpeg'|url }}" class="img-fluid img-thumbnail" alt="...">
              </div>

              <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px">
                <img src="{{ '/static/img/Sponsors/monoku-information/Imagen3.jpeg'|url }}" class="img-fluid img-thumbnail" alt="...">
              </div>

              <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px">
                <img src="{{ '/static/img/Sponsors/monoku-information/Imagen4.jpeg'|url }}" class="img-fluid img-thumbnail" alt="...">
              </div>

              <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px">
                <img src="{{ '/static/img/Sponsors/monoku-information/Imagen5.jpeg'|url }}" class="img-fluid img-thumbnail" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="endavaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 justify-content-center">
            <img class="rounded mx-auto d-block img-fluid" src="{{ '/static/img/Sponsors/endava-information/endava2.png'|url }}">
          </div>

          <div class="row justify-content-center" style="margin-top:30px">
            <div class="col-1" style="margin:20px">
              <a href="https://www.facebook.com/EndavaLatam" target="_blank">
                <i class="fa-brands fa-facebook fa-beat fa-2xl" style="color: #E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://twitter.com/endavalatam" target="_blank">
                  <i class="fa-brands fa-twitter fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.instagram.com/endavalatam/" target="_blank">
                  <i class="fa-brands fa-instagram fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/showcase/endavalatam/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.endava.com/" target="_blank">
                  <i class="fa-solid fa-globe fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
          </div>

          <div class="col-12 col-sm-12" style="border-top: 1px solid white; margin-top:30px">
            <h3>
              We are a global IT company providing world-class product and technology strategy, intelligent experiences and engineering 
              services to our more than 700 customers in Europe and the United States.
              <br>
              <br>
              For more than 20 years we have been reimagining the relationship between people and technology, and we do it thanks to 
              the high level of technical, professional and human excellence of our +12,000 employees around the world.
              <br>
              <br>
              In Colombia we have consolidated a team of +1000 people in 6 years and we are present in our offices in Bogota, Bucaramanga, 
              Cali and Medellin.
              <br>
              <br>
              We are a multicultural team with the same purpose: to reach our maximum potential. That is why our culture is oriented to people and their 
              personal and professional growth. We have the tools for endavans to attain our goals, challenge ourselves technically and enjoy sharing time as a team.
              <br>
              <br>
              Our hybrid work model gives us the autonomy to work from home and choose when to have quality time with our teams in the offices.
            </h3>
            <br>
            <div class="col-10 ratio ratio-16x9">
              <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/ZYY_mcvMSa8" allowfullscreen; style="padding:10px;"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="elasticModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 justify-content-center">
            <img class="rounded mx-auto d-block img-fluid" src="{{ '/static/img/Sponsors/elastic-information/elastic2.png'|url }}">
          </div>

          <div class="row justify-content-center" style="margin-top:30px">
            <div class="col-1" style="margin:20px">
              <a href="https://www.facebook.com/elastic.co" target="_blank">
                <i class="fa-brands fa-facebook fa-beat fa-2xl" style="color: #E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://twitter.com/elastic" target="_blank">
                  <i class="fa-brands fa-twitter fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/company/elastic-co/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.elastic.co/" target="_blank">
                  <i class="fa-solid fa-globe fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
          </div>

          <div class="col-12 col-sm-12" style="border-top: 1px solid white; margin-top:30px">
            <h3>
              Elastic is a search company. As the creators of the Elastic Stack (Elasticsearch, Kibana, Beats, and Logstash), 
              Elastic builds self-managed and SaaS offerings that make data usable in real time and at scale for search, logging, 
              security, and analytics use cases. Thousands of organizations worldwide, including Cisco, eBay, Goldman Sachs, Microsoft, 
              The Mayo Clinic, NASA, The New York Times, Wikipedia, and Verizon, use Elastic to power mission-critical systems. 
              Founded in 2012, Elastic is a distributed company with Elasticians working in countries around the world. Learn more at 
              <a href="https://www.elastic.co/es/" target="blank">elastic.co.</a>
              <br>
          </div>

          <div class="col-10 ratio ratio-16x9">
            <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/yAxCbqAkls8" allowfullscreen; style="padding:10px;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="teamModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 justify-content-center">
            <img class="rounded mx-auto d-block img-fluid" src="{{ '/static/img/Sponsors/team-information/team2.png'|url }}">
          </div>

          <div class="row justify-content-center" style="margin-top:30px">
            <div class="col-1" style="margin:20px">
              <a href="https://www.facebook.com/teamintl" target="_blank">
                <i class="fa-brands fa-facebook fa-beat fa-2xl" style="color: #E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://twitter.com/team_intl" target="_blank">
                  <i class="fa-brands fa-twitter fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://instagram.com/teamintl.latam?igshid=NTc4MTIwNjQ2YQ==" target="_blank">
                  <i class="fa-brands fa-instagram fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/company/team-international/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.teaminternational.com/" target="_blank">
                  <i class="fa-solid fa-globe fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-12" style="border-top: 1px solid white; margin-top:30px">
            <h3>
              Are you struggling to find the right IT talent for your project or feeling like your tech career has hit a roadblock?
              <br>
              <br>
              At TEAM International, we've got the expertise and experience to help you grow anywhere, anytime. Let's join forces and achieve your goals together!
              <br>
          </div>

          <div class="col-10 ratio ratio-16x9">
            <iframe class="embed-responsive-item"src="{{ '/static/img/Sponsors/team-information/team_video.mp4'|url }}" allowfullscreen; style="padding:10px;" sandbox></iframe>
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/team-information/team_img1.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/team-information/team_img2.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/team-information/team_img3.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/team-information/team_img4.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/team-information/team_img5.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="softserveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 justify-content-center">
            <img class="rounded mx-auto d-block img-fluid" src="{{ '/static/img/Sponsors/softserve-information/softserve2.png'|url }}">
          </div>
          <div class="row justify-content-center" style="margin-top:30px">
            <div class="col-1" style="margin:20px">
              <a href="https://www.facebook.com/SoftServeColombia?mibextid=LQQJ4d" target="_blank">
                <i class="fa-brands fa-facebook fa-beat fa-2xl" style="color: #E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://twitter.com/softserveinc?s=11&t=PmHj4DUY9cmwVwQ8NwXQxQ" target="_blank">
                  <i class="fa-brands fa-twitter fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://instagram.com/softserve_people?igshid=YmMyMTA2M2Y=" target="_blank">
                  <i class="fa-brands fa-instagram fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/company/softserve/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.softserveinc.com/en-us" target="_blank">
                  <i class="fa-solid fa-globe fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-12" style="border-top: 1px solid white; margin-top:30px">
            <h3>
              SoftServe is people-first. People who build a global IT company and make it grow. Together we advise, drive innovation, 
              and develop people's talent within the USA, Latin America, Europe, and Asia. With expertise across healthcare, 
              retail, energy, financial services, software, and more, we implement end-to-end solutions to deliver the innovation, 
              quality, and speed that our clients expect.
              <br>
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/softserve-information/softserve_img_1.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/softserve-information/softserve_img_2.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/softserve-information/softserve_img_3.png'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/softserve-information/softserve_img_4.png'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="heinsohnModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 justify-content-center">
            <img class="rounded mx-auto d-block img-fluid" src="{{ '/static/img/Sponsors/heinsohn-information/heinsohn2.png'|url }}">
          </div>

          <div class="row justify-content-center" style="margin-top:30px">
            <div class="col-1" style="margin:20px">
              <a href="https://www.facebook.com/GrupoHeinsohn/" target="_blank">
                <i class="fa-brands fa-facebook fa-beat fa-2xl" style="color: #E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://twitter.com/GrupoHeinsohn" target="_blank">
                  <i class="fa-brands fa-twitter fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.instagram.com/heinsohngrupo/?hl=en" target="_blank">
                  <i class="fa-brands fa-instagram fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/company/heinsohn-business-technology/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.heinsohn.co/" target="_blank">
                  <i class="fa-solid fa-globe fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-12" style="border-top: 1px solid white; margin-top:30px">
            <h3>
              Heinsohn is a technology services company with headquarters in Colombia and branches in the USA and Canada. With a constant 
              growth of personnel and profitability since 1977. Heinsohn has expanded to different countries with several of its 
              technological solutions conquering different markets such as Bolivia, Mexico, Ecuador, Peru, and the United States, 
              registering a 38% growth in exports from 2017. Heinsohn solutions are used in more than 1,500 companies in the financial 
              sector, Government, Health Care, Logistics, Law, and Startup industries in Latin America and North America. We are committed 
              to quality and software development process innovation, that is why we have been appraised with the highest certifications 
              like ISO9001, CMMI Level 5 for software development and service.
            </h3>

            <div class="col-10 ratio ratio-16x9">
                <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/hmk-sIUSQyQ" allowfullscreen; style="padding:10px;"></iframe>
            </div>

            <div class="col-10 ratio ratio-16x9">
              <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/Szt5qoQ1PuU" allowfullscreen; style="padding:10px;"></iframe>
            </div>

            <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
              <img src="{{ '/static/img/Sponsors/heinsohn-information/IMG-4.png'|url }}" class="img-fluid img-thumbnail" alt="...">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="addiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 justify-content-center">
            <img class="rounded mx-auto d-block img-fluid" src="{{ '/static/img/Sponsors/addi-information/addi2.png'|url }}">
          </div>
          <div class="row justify-content-center" style="margin-top:30px">
            <div class="col-1" style="margin:20px">
              <a href="https://www.facebook.com/addicol/" target="_blank">
                <i class="fa-brands fa-facebook fa-beat fa-2xl" style="color: #E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.instagram.com/addi/" target="_blank">
                  <i class="fa-brands fa-instagram fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/company/addicol/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://co.addi.com/" target="_blank">
                  <i class="fa-solid fa-globe fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-12" style="border-top: 1px solid white; margin-top:30px">
            <h3>
              Addi is a remote technology company specialized in enabling digital transactions and creating 
              opportunities for buyers and sellers. We aim to build fair, simple and affordable financial 
              services that empower our clients, treating them with dignity, and building financial freedom. 
              We operate as a full stack startup and we have built our core systems and processes from 
              scratch, and we believe our technology and analytics platform will drive our progress into the 
              years to come. We come at this with deep experience building and growing technology teams and 
              financial products.
            <br>
              You'll find a place to work alongside a great and diverse team that cares about what we do and how 
              we do it, amazing talent, a modern technology stack, a desire to share knowledge and continuous 
              challenges. We have a great environment where you can contribute to our architecture decision 
              records and you will be able to propose new techniques, patterns and tools for our evolving platform.
            </h3>
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/addi-information/addi_img_1.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/addi-information/addi_img_2.png'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/addi-information/addi_img_3.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/addi-information/addi_img_4.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>
          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/addi-information/addi_img_5.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>
          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/addi-information/addi_img_6.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal custom fade" id="nearsureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 justify-content-center">
            <img class="rounded mx-auto d-block img-fluid" src="{{ '/static/img/Sponsors/nearsure-information/nearsure2.png'|url }}">
          </div>

          <div class="row justify-content-center" style="margin-top:30px">
            <div class="col-1" style="margin:20px">
              <a href="https://www.facebook.com/nearsure/?locale=es_LA" target="_blank">
                <i class="fa-brands fa-facebook fa-beat fa-2xl" style="color: #E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.instagram.com/nearsure_/?hl=es" target="_blank">
                  <i class="fa-brands fa-instagram fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://www.linkedin.com/company/nearsure/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
            <div class="col-1" style="margin:20px">
              <a href="https://nearsure.com/" target="_blank">
                  <i class="fa-solid fa-globe fa-beat fa-2xl" style="color:#E776CF;"></i>
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-12" style="border-top: 1px solid white; margin-top:30px">
            <h3>
              Nearsure is a technology company dedicated to linking Latin American IT talent with clients in the US 
              and Canada. Since 2018, Nearsure has been helping North American companies by providing professionals 
              for any technology. Work with the most skilled talent in Latin America, accessing flexible and remote 
              technical teams.
              <br>
              <br>
              Nearsure is proud of its community and seeks to enhance it with training and exchange opportunities, 
              team-building activities, and challenging projects that are constantly renewed, ensuring employees a 
              long career within the company.
              <br>
              <br>
              If you are interested in knowing the open job offers, you can visit their website: [<a href="https://nearsure.com/our-work-culture/" target="_blank">nearsure.com/careers</a>]
              <br>
            </h3>
          </div>

          <div class="col-10 ratio ratio-16x9">
            <iframe class="embed-responsive-item"src="{{ '/static/img/Sponsors/nearsure-information/video_nearsure.mp4'|url }}" allowfullscreen; style="padding:10px;" sandbox></iframe>
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/nearsure-information/nearsure_img_1.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/nearsure-information/nearsure_img_2.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/nearsure-information/nearsure_img_3.png'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/nearsure-information/nearsure_img_4.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/nearsure-information/nearsure_img_5.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/nearsure-information/nearsure_img_6.png'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>

          <div class="d-flex justify-content-center align-items-center" style="margin-bottom:30px; margin-top:30px">
            <img src="{{ '/static/img/Sponsors/nearsure-information/nearsure_img_7.jpg'|url }}" class="img-fluid img-thumbnail" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




